;; shadow-cljs configuration
{:source-paths ["src" "test" "repl-tooling/src"]

 :dependencies [[org.clojure/core.async "0.4.490"]
                [hickory "0.7.1"]
                [org.clojure/tools.reader "1.3.2"]]

 :socket-repl {:port 9000}
 :jvm-opts ["-Xtune:virtualized"
            "-Xquickstart"
            "-Xshareclasses"]

 :builds {:vim {:target :node-library
                ; :main nvim.core/main
                :output-to "js/index.js"
                :output-dir "js/cached"
                :exports-var nvim.core/exports

                :devtools {;:before-load-async demo.script/stop
                           :after-load nvim.core/start}}}}
