;; shadow-cljs configuration
{:source-paths ["src" "test" "repl-tooling/src" "repl-tooling/resources"]

 :dependencies [[org.clojure/core.async "0.4.490"]
                [reagent "0.8.1"]
                [org.clojure/tools.reader "1.3.2"]
                [repl-tooling "0.4.0"]]

 :jvm-opts ["-Xmx1G" "-Xtune:virtualized"]
 :builds {:vim {:target :node-library
                :output-to "js/index.js"
                :compiler-options {:infer-externs :auto}
                :js-options {:js-provider :shadow
                             :keep-native-requires true}
                :output-dir "js/cached"
                :exports-var clematis.core/exports
                :devtools {:after-load clematis.core/start}}}}
